@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>
        <img src="/Home/GenerateImage/www.yahoo.co.jp" />
        <img src="/Home/GenerateImage/pie001.hatenablog.com" />
    </p>
</div>
